---
import Layout from "../layouts/Layout.astro";
import ScaleElement from "../components/ScaleElement.astro";
import HistoryElement from "../components/HistoryElement.astro";

import scale from "../assets/scale.json";

import fs from "fs";
import path from "path";

async function loadEntries() {
    const filePath = path.resolve("data.json"); // Adjust path based on the actual location of data.json
    const rawData = await fs.promises.readFile(filePath, "utf-8");
    const entries = JSON.parse(rawData);
    entries.sort((a, b) => b.date.localeCompare(a.date));
    return entries;
}

const entries = await loadEntries();
const entries2 = entries.slice(0, 5);

let currentValue = 0;
currentValue = getValue(entries2);

function getValue(entries) {
    let temp = 0;

    entries.forEach((entry) => {
        temp += entry.value;
    });

    return temp / entries.length;
}
---

<Layout>
  <h1 class="text-4xl font-bold">Amöben-Indikator</h1>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 items-center"
  >
    <div class="flex">
      <ul class="steps steps-vertical mx-auto">
        {
          scale
            .toReversed()
            .map((item) => (
              <ScaleElement
                description={item.name}
                minValue={item.value}
                value={currentValue}
                icon={item.icon}
              />
            ))
        }
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-xl">Letzte Einträge:</h2>
      <div class="entries">
        {entries2.map((entry) => <HistoryElement name={entry.name} value={entry.value} description={entry.description} date={entry.date} />)}
      </div>
    </div>
    
  </div>
  <div class="flex">
    <a class="btn btn-primary" href="/new">Neuer Eintrag</a>
  </div>
</Layout>

<style>
  .entries {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem 4rem;
  }
</style>
