---
import Layout from "../layouts/Layout.astro";
import ScaleElement from "../components/ScaleElement.astro";
import HistoryElement from "../components/HistoryElement.astro";

import scale from "../assets/scale.json";

let currentValue = 0;

import { entries } from "../models/schema";

// Initialize db connection (replace with your connection details)
import { config } from "dotenv";
import { desc } from 'drizzle-orm';
import { drizzle } from "drizzle-orm/postgres-js";
import postgres from "postgres";

config({ path: ".env" });

const connection = postgres({
  host: process.env.PG_HOST ?? "localhost",
  port: Number(process.env.PG_PORT) ?? 5432,
  user: process.env.PG_USER ?? "postgres",
  password: process.env.PG_PASSWORD ?? "postgres",
  database: process.env.PG_DATABASE ?? "postgres",
});

const db = drizzle(connection, { schema: { entries } });

const cms = await db.query.entries.findMany({
  limit: 5,
  orderBy: desc(entries.date)
});


currentValue = getValue(cms);

function getValue(entries: any) {
    let temp = 0;

    entries.forEach((entry: any) => {
        temp += entry.value;
    });

    return temp / entries.length;
}
---

<Layout>
  <h1 class="text-4xl font-bold">Amöben-Indikator</h1>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 items-center"
  >
    <div class="flex">
      <ul class="steps steps-vertical mx-auto">
        {
          scale
            .toReversed()
            .map((item) => (
              <ScaleElement
                description={item.name}
                minValue={item.value}
                value={currentValue}
                icon={item.icon}
              />
            ))
        }
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-xl">Letzte Einträge:</h2>
      <div class="entries">
        {cms.map((entry) => <HistoryElement entry={entry} />)}
      </div>
    </div>
    
  </div>
  <div class="flex">
    <a class="btn btn-primary" href="/new">Neuer Eintrag</a>
  </div>
</Layout>

<style>
  .entries {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem 4rem;
  }
</style>
