---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import scale from "../assets/scale.json";
import { createHash } from "crypto";
import fs from "fs";

var data = fs.readFileSync("data.json");
var myObject = JSON.parse(data);

interface entry {
  name: string;
  value: number;
  description: string;
  data: string;
}

const errors = { name: "", description: "", password: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const name = formData.get("name");
    const value = formData.get("value");
    const description = formData.get("description");
    const password = formData.get("password");

    // Form validation
    if (typeof name !== "string" || name.length < 1) {
      errors.name += "Bitte Name eingeben.";
    }

    if (typeof description !== "string" || description.length < 1) {
      errors.description += "Bitte Beschreibung eingeben.";
    }

    if (hash(password as string) !== "8881a0528946b82c745f1b8f548821aef60c2d18b67c5a156df02ae9095ee08c") {
      errors.password += "Falsches Passwort.";
    }

    const hasErrors = Object.values(errors).some((msg) => msg);
    if (!hasErrors) {
      // Ensure that 'value' is converted to a number
      const parsedValue = value ? Number(value) : 0;

      // Create a new entry object
      let newData: entry = {
        name: name,
        value: parsedValue,
        description: description,
        date: new Date().toISOString(), // Use the current date
      };

      console.log(newData);

      // Push the new entry to the existing data array
      myObject.push(newData);

      console.log(myObject);

      // Write the updated array back to the JSON file
      fs.writeFile("data.json", JSON.stringify(myObject, null, 2), (err) => {
        if (err) throw err;
        console.log("New data added");
      });

      // Redirect to home
      return Astro.redirect("/");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

function hash(string: string) {
  return createHash("sha256").update(string).digest("hex");
}

---

<Layout>
  <form
    method="POST"
    enctype="application/x-www-form-urlencoded"
    class="flex flex-col gap-4 grow"
  >
    <h3 class="text-2xl">Neuer Eintrag</h3>

    <label for="name">
      <input
        id="name"
        class="input input-bordered w-full"
        name="name"
        placeholder="Name"
      />
    </label>
    {errors.name && <p class="text-red-500">{errors.name}</p>}
    <label for="value">
      <select id="value" name="value" class="select select-bordered w-full">
        {scale.map((item) => <option value={item.value}>{item.name}</option>)}
      </select>
    </label>

    <label for="description">
      <textarea
        id="description"
        name="description"
        class="textarea textarea-bordered w-full"
        placeholder="Beschreibung"></textarea>
    </label>
    {errors.description && <p class="text-red-500">{errors.description}</p>}
    <label for="password">
      <input
        id="password"
        type="password"
        class="textarea textarea-bordered w-full"
        name="password"
        placeholder="Passwort"
      />
    </label>
    {errors.password && <p class="text-red-500">{errors.password}</p>}
    <div class="flex flex-row gap-4 w-full justify-between">
      <a class="btn grow" href="/">Abbrechen</a>
      <button class="btn btn-primary grow" type="submit">Senden</button>
    </div>
  </form>
</Layout>
